@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
img{ float:left;border:0;}
body { margin:0 auto;background:url(../images/1_01.jpg) repeat-x #fefcfb; font-family:Verdana, Arial, Helvetica, sans-serif;}
body,td,th {font-size:12px;color:#666; line-height:18px;}
a{ color:#666; text-decoration:none;}
a:hover{color:#e9400b;}
.clear{ clear:both;}
ul{ list-style-type:none;}
/* 整体 */
#top{ float:left; width:100%; height:128px;background:url(../images/1_0.jpg) top center no-repeat;}
.tl{ float:left;}
.tl a{text-decoration:underline;}
.tr{ float:right;}
.tr strong{ float:left; width:230px; color:#333;}
.tr img{ padding-left:10px; padding-top:5px;}
#frame{width:980px;margin:0 auto; padding-top:5px;}
#tnr{ float:left; width:980px; padding-top:6px;}
h1{ float:left; color:#0c418f; font-size:42px; line-height:40px; padding-top:15px;}
#nav{ float:left; width:980px; padding-top:5px;}
#nav ul{ float:left; width:760px;padding-left:20px; padding-top:6px;}
#nav ul li{ float:left;line-height:24px;}
#nav li a{ display:block;color:#fff;padding-left:21px; margin-right:2px; padding-right:21px; text-decoration:none;  line-height:24px;}
#nav li a:hover{ background:#000;}
.hover{ background:#000;}
#nav img{ float:right; padding-top:7px; padding-right:12px;}
#search{ float:left; width:980px; height:30px;background:url(../images/1_07.jpg); margin-top:2px;}
#sform{ float:left; width:210px; padding-top:7px; padding-left:15px; padding-right:15px;}
#sform input{ border:0; background:0;}
#stext{ float:left; width:175px; margin-top:3px;}
#sbut{ float:right; width:20px; height:20px;}
.key a{ float:left; padding-left:4px;text-decoration:underline; padding-right:6px; line-height:26px;}
.key strong a{ color:#e56014;}
#wz{ float:left; width:950px; padding:0px 15px; height:28px; line-height:28px;background:url(../images/1_08.jpg);}
#main{ float:left; width:960px; padding:10px;background:url(../images/1_09.jpg);}
#left{width:226px;}
#lmb{ float:left; width:226px; padding-bottom:10px;}
h2{ float:left;width:210px; padding-left:16px; line-height:35px; font-size:14px; color:#fff;}
.lbt{background:url(../images/1_10.jpg);}
.lbt2{background:url(../images/1_11.jpg);}
#lmb ul {float:left; width:220px; padding:5px 3px;background:url(../images/1_12.jpg);}
#cate li{float:left; width:200px;padding-left:10px; padding-right:10px;background:0 50% url(../images/1_14.jpg) no-repeat; background-position:10px;
 line-height:22px; border-bottom:#eee solid 1px;}
#cate li a{ padding-left:15px; text-decoration:none;}


#lmb1{ float:left; width:226px; padding-bottom:10px;}
#pnav{float:left; width:220px; padding:5px 3px;background:url(../images/1_12.jpg);}
#pnav ul li{float:left; width:200px;padding-left:10px;padding-right:10px;background:url(../images/1_14.jpg) no-repeat; 
 line-height:22px; border-bottom:#eee solid 1px;background-position:left top;background-position:10px 7px;}
#pnav ul li ul{ float:left; width:210px;padding-right:10px; margin-left:-10px; padding-bottom:8px; padding-top:8px; border-top:#eee solid 1px; }
#pnav ul li ul li{ float:left;width:200px; margin:0px; background:none;border:none;}
#pnav li a{ padding-left:15px; text-decoration:none;}

#down li{float:left; width:200px;padding-left:10px; padding-right:10px;line-height:22px; border-bottom:#eee solid 1px; color:#0c4191;}
#down li a{padding-left:5px;text-decoration:none;}
#hot li{float:left; width:200px; padding-left:10px; padding-right:10px;}
#hot a{float:left; width:200px; text-decoration:underline;}
#ltp{ float:left; width:212px; padding:6px; height:188px;background:url(../images/1_15.jpg) no-repeat right; margin-bottom:8px;}

#right{ width:724px;}
.tr1{ float:right;}
.tr1 a{text-decoration:underline;}
#rmb{ float:left; width:724px; background:url(../images/1_18.jpg); margin-bottom:12px;}
#rbt{ float:left;width:724px; padding-top:5px; background:url(../images/1_17.jpg) no-repeat;line-height:30px;}
h3{ float:left;padding-left:12px;  font-size:14px; color:#0c4191;}
.more{ float:right; padding-right:12px;}
.more img{ padding-right:8px; padding-top:11px;}
.more a{ text-decoration:none;}
#rnr{ float:left; width:700px; padding:0px 12px; padding-bottom:4px;}
hr { float:left;width:700px; height:1px; border:0;}
.x{border-top:1px solid #ccc; padding-bottom:12px;}
#cho{ float:left; width:138px; padding:15px; background:#f7f7f7;}
#cho strong{ float:left;width:138px; line-height:20px; font-size:13px; font-weight:normal;}
.cwz{ float:left; width:138px;font-size:11px;}
.cp{ float:left; padding:15px 50px;width:32px;}
.cmore{ float:right; padding-top:10px;}
.cw{ float:left; width:9px; height:1px;}
#news{ float:left; width:680px; padding:10px; margin-bottom:1px;}
#news img{ float:left; padding:3px; margin-right:10px; background:#eaeae4; border:#c7c7c5 solid 1px;}
.nbg{background:#f1f1f1;}
.nbg2{background:#f6f6f6;}
#news strong{ padding-right:10px;}
#news a{ color:#0c4191;}
#news a:hover{ color:#e9400b;}
#lat{float:left; width:338px;background:url(../images/1_27.jpg) repeat-x bottom; padding-bottom:8px; margin-bottom:8px; font-size:11px;}
#lat img{ float:left; margin-right:8px;}
#lat a{ color:#0c4191;}
#lat a:hover{ color:#e9400b;}
.lw{ float:left; width:16px; height:1px;}
#key{ float:left; width:948px; background:url(../images/1_28.jpg); border:#e8e9ed solid 1px; padding:5px; height:34px;}
#key strong{ color:#0058bb;}
#foot{ float:left; width:960px; padding-top:10px;}
.lx{border-bottom:1px solid #ccc; padding-bottom:10px;}
#pag{ float:left; width:700px; padding-top:10px;}
.pl{ float:left;}
.pr{ float:right;}
.pr a{ float:left; padding:1px 5px; margin-left:6px; background:#d0ddee; text-decoration:none;}
.pr a:hover{background:#eee;}
#rbar{ float:left; width:700px; padding:12px; height:190px;background:url(../images/2_01.jpg) no-repeat; margin-bottom:12px;}
.hs{ color:#000;}
#rnr p{ float:left; width:700px;}
.add{ float:left; padding-bottom:10px;}
.mc{ float:left; width:700px;background:url(../images/3_02.jpg); padding:4px 11px; border:#ddd solid 1px; margin-top:6px; margin-bottom:6px;}
#rleft{ float:left; width:440px;}
#rright{ float:right; width:228px;}
.view{ float:left;width:228px; padding-top:10px;}
.view img{ padding-top:4px; padding-right:8px;}
.view a{ text-decoration:none; font-weight:bold; color:#0c4191;}
.view a:hover{ color:#e9400b;}
.ms{ float:left; padding-bottom:6px; width:440px;}
.ms strong{ float:left; margin-right:15px; border-bottom:#cdd3df solid 1px; width:140px; padding-bottom:4px;}
.mblue{float:left; color:#09459f;border-bottom:#cdd3df solid 1px; width:280px; padding-bottom:4px;}
.yy{ float:left; padding-top:20px;}
#mdown{ float:left; width:700px; padding:5px 11px;border:#ddd solid 1px; height:35px; background:url(../images/3_06.jpg); margin-bottom:12px;}
.mdr{ float:left; width:700px;}
.mdr p{ float:left; font-size:12px;}
.dr{ float:right;}
.dr img{ padding-right:10px; padding-top:4px;}
.wz{ float:left; width:700px; padding:20px 12px;background:url(../images/3_09.jpg); font-weight:bold; color:#fff; font-size:12px; margin-bottom:10px; line-height:20px;}
.dl{ float:left; padding-top:10px;}
.dl img{ padding-right:10px; padding-top:4px;}
.dl a{ color:#09459f;}
.dl a:hover{ color:#e9400b;}
.dr1{ float:right; padding-top:10px;}
.rwz{ font-size:14px; padding-bottom:10px; line-height:24px;}
.thumb{width: 32px;height: 32px}